@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.main {
  padding: 3rem 5%;
  display: flex;
  overflow-x: hidden;
  height: calc(100vh - 130px);
}
.main .latest-article {
  margin: auto 0;
  box-shadow: 2px 10px 20px 2px rgba(0, 0, 0, 0.75);
  width: 65%;
  border-radius: 3px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: slideLeft forwards 2s;
          animation: slideLeft forwards 2s;
  background-size: cover;
  transition: 0.3s all ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.main .latest-article .tint {
  padding: 15px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.616);
  width: 100%;
  height: 100%;
}
.main .latest-article .tint .article-title {
  text-align: center;
}
.main .latest-article .tint .article-summary {
  margin: 10px 0;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}
.main .latest-article:hover {
  transform: scale(1.01);
}
.main .sidebar {
  margin: auto 0;
  width: 35%;
  margin-left: 20px;
  background-color: white;
  -webkit-animation: slideRight 2s forwards;
          animation: slideRight 2s forwards;
}
.main .sidebar ul {
  border-radius: 3px;
  list-style-type: none;
  color: black;
  padding: 20px;
  display: inline-block;
  box-shadow: 2px 10px 20px 2px rgba(0, 0, 0, 0.75);
}
.main .sidebar ul .sidebar-item {
  transition: 0.5s;
  background-color: #0a0e3c;
  color: white;
  border: 2px solid #0a0e3c;
  margin: 10px 0;
  padding: 10px;
  display: flex;
}
.main .sidebar ul .sidebar-item:hover {
  transform: scale(1.04);
}
.main .sidebar ul .sidebar-item .content p {
  font-size: 15px;
}
.main .sidebar ul .sidebar-item .cover {
  width: 100px;
  height: 100px;
  margin: auto 0;
  background-size: cover;
  margin-right: 10px;
  border-radius: 3px;
}
.main .sidebar ul .sidebar-item .btn {
  margin: 5px 0;
}

@-webkit-keyframes slideLeft {
  0% {
    margin-left: -1500px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slideLeft {
  0% {
    margin-left: -1500px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes slideRight {
  0% {
    margin-right: -1500px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes slideRight {
  0% {
    margin-right: -1500px;
  }
  100% {
    margin-right: 0px;
  }
}
@media screen and (max-width: 935px) {
  .main {
    flex-direction: column;
    height: 100%;
  }
  .main .latest-article {
    width: 100%;
  }
  .main .sidebar {
    margin-top: 50px;
    width: 100%;
    margin-left: 0px;
  }
}
.content {
  width: 65%;
}

.create-article {
  padding: 5% 15%;
}

.form-article {
  display: flex;
  flex-direction: column;
}
.form-article .form-control {
  padding: 10px;
  border-radius: 3px;
  margin: 5px 0;
  border: 2px solid #0a0e3c;
}

.rdw-dropdown-wrapper a span {
  color: black;
}
.rdw-dropdown-wrapper .rdw-dropdown-optionwrapper {
  color: black;
}

.rdw-fontfamily-dropdown {
  display: none;
}

.DraftEditor-root {
  color: black;
}

.submitButton {
  background-color: #0a0e3c;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #0a0e3c;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: transparent;
  color: #0a0e3c;
}

.article-content {
  color: black;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 20px;
}
.article-content .cover {
  width: 100%;
  border-radius: 3px;
}
.article-content .article-title {
  font-size: 40px;
}
.article-content .timestamp {
  color: gray;
  font-size: 12px;
}
.article-content .text {
  margin: 20px 0;
}
.article-content .text p {
  margin: 5px 0;
}
.article-content .text img {
  width: 100%;
  height: auto;
}
.article-content .text figure {
  margin: 10px 0;
  width: 100%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.edit-button {
  width: 100%;
  background-color: #0a0e3c !important;
  color: white !important;
  border: #0a0e3c 2px solid !important;
}
.edit-button:hover {
  background-color: transparent !important;
  color: #0a0e3c !important;
}

.cards {
  margin-top: 75px;
  padding-bottom: 100px;
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cards .article-card {
  border: 1px solid gray;
  background-color: white;
  display: flex;
  color: #0a0e3c;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.cards .article-card:hover {
  background-color: #0a0e3c;
  color: white;
  border: white 1px solid;
}
.cards .article-card .article-summary {
  margin: 10px 0;
}
.cards .article-card .article-title {
  font-size: 18px;
  margin-top: 20px;
}
.cards .article-card .cover {
  width: 100%;
  margin: 0 auto;
  border-radius: 3px;
  display: block;
}

.text-left {
  text-align: left !important;
}

.container {
  padding: 0 5%;
}

.comments {
  padding: 10px;
  border-top: gray 2px solid;
}
.comments .add-comment .form-control {
  margin: 0 !important;
  border: #0a0e3c 2px solid;
  padding: 20px;
  width: 100%;
  height: 100px;
  text-align: left;
  border-radius: 3px;
}
.comments .add-comment .btn {
  width: 100%;
  border: #0a0e3c 2px solid;
  margin: 10px 0;
}
.comments .add-comment .btn:hover {
  background-color: #0a0e3c;
}
.comments .comment {
  padding: 20px;
  border-radius: 3px;
  margin: 10px 0;
  background-color: #0a0e3c;
  color: white;
}
.comments .comment-info {
  margin-bottom: 10px;
}

@media screen and (max-width: 1227px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 747px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.info {
  padding: 50px 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 45px;
  text-decoration: underline;
}

.member {
  text-align: center;
  margin: 10px 20px;
  background-color: #0a0e3c;
  padding: 30px;
  border-radius: 3px;
}
.member img {
  border-radius: 100%;
  background-color: white;
  height: 300px;
}
.member .name {
  font-weight: bold;
  font-size: 30px;
}
.member .position {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}
.member .saying {
  font-style: italic;
}

.footer {
  background-color: #0a0e3c;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.animate-footer {
  -webkit-animation: slideOut 6s forwards;
          animation: slideOut 6s forwards;
}

@-webkit-keyframes slideOut {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -7000px;
  }
}

@keyframes slideOut {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -7000px;
  }
}
.account {
  padding: 50px 5%;
}
.account .not-verified {
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
  background-color: #0a0e3c;
  color: white;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  border: #0a0e3c 2px solid;
}
.account .not-verified:hover {
  background-color: transparent;
  color: #0a0e3c;
}
.account .info-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.account .info-cards div {
  background-color: #0a0e3c;
  padding: 30px 10px;
  margin: 10px;
  border-radius: 3px;
}
.account .info-cards div h1 {
  text-align: center;
}
.account .info-cards div input {
  padding: 10px;
  margin: 20px auto;
  display: block;
}
.account .info-cards div button {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1056px) {
  .info-cards {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-width: 712px) {
  .info-cards {
    grid-template-columns: 1fr !important;
  }
}
.verify {
  padding: 50px 5%;
  height: calc(100vh - 220px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.verify form .form-control {
  padding: 10px;
  border: 2px #0a0e3c solid;
  width: 100%;
  margin: 0;
}
.verify form button {
  width: 100%;
  background-color: #0a0e3c;
  border: 2px #0a0e3c solid;
  margin: 10px 0;
  padding: 10px;
  color: white;
}
.verify form button:hover {
  color: #0a0e3c;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.add-article-button {
  background-color: #060822;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  padding: 10px 13px;
  cursor: pointer;
  border-radius: 100%;
  z-index: 100;
}

.search-results {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-article {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.main-article .sidebar {
  margin: 0 0 0 20px;
}

.mobile {
  background-color: #0a0e3c;
  display: none;
}
.mobile img {
  margin: 0 auto;
  display: block;
}

.btn-danger {
  background-color: #fa2929 !important;
  color: white;
  padding: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 2px #fa2929 solid !important;
  display: block;
}
.btn-danger:hover {
  background-color: transparent !important;
  color: #fa2929 !important;
}

.header,
.header-mobile {
  padding: 10px;
  background-color: #0a0e3c;
  display: flex;
  justify-content: space-around;
}
.header .nav,
.header-mobile .nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.header .nav .active a,
.header-mobile .nav .active a {
  border-bottom: 3px white solid;
}
.header .nav .secondary a,
.header-mobile .nav .secondary a {
  color: #0a0e3c;
  background-color: #fff;
  border: 2px #fff solid;
}
.header .nav .secondary a:hover,
.header-mobile .nav .secondary a:hover {
  background-color: transparent;
  color: #fff;
}
.header .nav div,
.header-mobile .nav div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav div a,
.header-mobile .nav div a {
  margin: 0 10px;
  font-weight: bold;
  padding: 5px;
  font-size: 22px;
  transition: 0.5s;
  cursor: pointer;
}
.header .nav div a i,
.header-mobile .nav div a i {
  transition: 0.1s;
  margin-right: 5px;
}
.header .nav div a:hover,
.header-mobile .nav div a:hover {
  background-color: white;
  color: #0a0e3c;
}
.header .nav div a:hover i,
.header-mobile .nav div a:hover i {
  color: #0a0e3c;
}
.header div input,
.header-mobile div input {
  height: 100%;
}

.header-mobile {
  display: none;
}

.form-control {
  padding: 0 10px;
  font-size: 20px;
  border: 2px #fff solid;
  color: white;
  border-radius: 3px;
  background-color: #0a0e3c;
  text-align: center;
  transition: 0.5s;
  margin: 0 0 0 20px;
}
.form-control::-moz-placeholder {
  color: #e2e2e2;
}
.form-control:-ms-input-placeholder {
  color: #e2e2e2;
}
.form-control::placeholder {
  color: #e2e2e2;
}
.form-control:focus {
  outline: none;
  background-color: #fff;
  color: #0a0e3c;
}
.form-control:focus::-moz-placeholder {
  color: #0a0e3c;
}
.form-control:focus:-ms-input-placeholder {
  color: #0a0e3c;
}
.form-control:focus::placeholder {
  color: #0a0e3c;
}

.title {
  font-weight: bold;
  font-size: 40px;
  color: #0a0e3c;
  margin-bottom: 15px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}
.form .form-control {
  padding: 10px;
  border-radius: 0;
  border: #0a0e3c 3px solid;
}
.form .form-control::-moz-placeholder {
  color: white !important;
}
.form .form-control:-ms-input-placeholder {
  color: white !important;
}
.form .form-control::placeholder {
  color: white !important;
}

.btn {
  padding: 5px;
  margin: 0 auto;
  font-size: 18px;
  border: 2px white solid;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s;
}
.btn i {
  color: #0a0e3c;
  font-weight: bold;
}
.btn:hover {
  background-color: transparent;
  color: white;
}
.btn:hover i {
  color: white;
}

.center-btn {
  margin: 0 auto;
}

.menu {
  display: none;
}

.account-button {
  background-color: #060822;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  padding: 10px 13px;
  cursor: pointer;
  border-radius: 100%;
  z-index: 100;
  transition: 0.5s;
}
.account-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 867px) {
  .username {
    display: none !important;
  }
}
@media screen and (max-width: 769px) {
  .mobile {
    display: block;
  }

  .nav {
    display: none !important;
  }

  .menu {
    display: flex;
    list-style: none;
  }
  .menu a {
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .header-mobile {
    display: flex;
  }
}
.search {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 10px 0;
}

.search-container {
  margin: auto 0;
}

@media screen and (max-width: 351px) {
  .search-container input {
    font-size: 15px;
  }
  .search-container button {
    margin-left: 3px;
    font-size: 12px;
  }
}/*# sourceMappingURL=globals.css.map */